<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Facebook OGP-->
    <meta property="og:title" content="ランダム謎" />
    <meta property="og:site_name" content="ランダム謎" />
    <meta property="og:url" content="https://lin.ee/ZfNZsfI" />
    <meta
      property="og:description"
      content="Twitterの一枚謎をランダムで取得します。ちょっとした息抜きや新しい作者との出会いをあなたに！"
    />
    <meta
      property="og:image"
      content="https://pythonlinebot.onrender.com/resources/img/share.png"
    />
    <meta property="fb:app_id" content="" />
    <meta property="og:type" content="Article" />
    <!--Twitter OGP-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="ランダム謎｜ランダム謎" />
    <meta
      name="twitter:description"
      content="Twitterの一枚謎をランダムで取得します。ちょっとした息抜きや新しい作者との出会いをあなたに！"
    />
    <meta
      name="twitter:image:src"
      content="https://pythonlinebot.onrender.com/resources/img/share.png"
    />
    <meta http-equiv="refresh" content="0;URL='https://lin.ee/ZfNZsfI'" />
    <title>ランダム謎</title>
  </head>
  <body></body>
</html>
